@model IEnumerable<MedicalAppointments.Models.Appointment>


@{
    ViewData["Title"] = "Appointments doctor";
}

<h1 class="text-center text-muted">Your appointments</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pacient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacient.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observations)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="align-bottom">
    <a style="border: 3px solid #009999" class="btn btn-light" asp-action="GoBack"><i class="bi bi-back"></i>Back</a>
</div>